<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <input type='radio' name='isTeam' value = 'true'>있음
      <input type='radio' name='isTeam' value = 'false'>없음<br>
    <form method="post">
      <input type='text' name='team_name' placeholder="team_name"><br>
      
      <input type='text' name='id' placeholder="id"><br>
      <input type='text' name='pw' placeholder="pw"><br>
      <input type='text' name='name' placeholder="name"><br>
      <input type='text' name='account' placeholder="account"><br>
      <input type='text' name='wallet' placeholder="wallet"><br>
      <input type='submit' value="go">
    </form>
  </body>
</html>
