<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Custom fonts for this template -->

<link href="resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>



<!-- Custom styles for this template -->

<link href="resources/css/bootstrap.css?var=2" rel="stylesheet">

<style>
    @font-face {
        font-family: 'slot';
        src: url(/font/Slot-Regular.otf) format('opentype');
    }

    li.navbar-brand {
        font-family: 'slot';
    }
</style>
<nav class="navbar navbar-expand-bg bg-light fixed-top" id="mainNav">
    <ul class="nav-container" id="mainNav">
        <li class="navbar-brand js-scroll-trigger"><a href="/matching" style="font-size: 400%">Football day</a></li>

        <li class="navbar-brand js-scroll-trigger"><a href="" style="font-size: 200%">Matching</a></li>
        <li class="navbar-brand js-scroll-trigger"><a href="" style="font-size: 200%">Recruiting players</a></li>
        <li class="navbar-brand js-scroll-trigger"><a href="" style="font-size: 200%">Team</a></li>

    </ul>
</nav>